<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.guesscity.guessthecity"
          android:versionCode="4"
          android:versionName="1.0">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-sdk android:minSdkVersion="9"
              android:targetSdkVersion="19"
              android:maxSdkVersion="22"/>

    <application android:label="@string/app_name"
                 android:theme="@style/NoActionBar."
                 android:icon="@drawable/icon"
                 android:keepScreenOn="true">


        <activity android:name="com.guesscity.guessthecity.StartActivity"
                  android:label="@string/app_name"
                  android:icon="@drawable/icon"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.guesscity.guessthecity.MainActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.guesscity.guessthecity.SettingsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.guesscity.guessthecity.LevelUpActivity"
                  android:screenOrientation="portrait"/>


        <activity android:name="com.startapp.android.publish.list3d.List3DActivity"
                  android:theme="@android:style/Theme" />

        <activity android:name="com.startapp.android.publish.OverlayActivity"
                  android:theme="@android:style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity android:name="com.startapp.android.publish.FullScreenActivity"
                  android:theme="@android:style/Theme"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                />

    </application>


</manifest>

